*{ 
    box-sizing: border-box;
    list-style-type: none;
    /* overflow: auto !important; */
}
body{
    margin:0;
}
nav.scrolled{
    background-color: #fff;
    transition: all .5s ease-in-out;
    
   
    
}
nav.scrolled ul li a{
    color: black !important;
}

.hero-img{
    position: relative;
    height: 500px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)) ,url(img/ekip.jpg);
    background-size: 100%;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    letter-spacing: 30px;
}
.card{
    border: none !important;
}
img{
    border-radius: 0 !important;
}
a{
    color: #fff !important;
    text-decoration: none !important;
}
input{
    outline: none !important;
}
input:focus{
    box-shadow: none !important;
    border-bottom: 2px solid black !important;
}

.hizmet{
    position: relative;
    padding: 8px;
}
.hizmet:hover .liste {
display: flex;
}
.liste {
position: absolute;
top: 50px;
right: -700px;
display: none;
background-color: #d8d8d8ab;
color: #fff !important;
}


  footer{
    background-color: #020a20;
    color: #fff;
    font-size: 12px;
  }
footer ul li{
    margin-bottom: 5px !important;
}
footer h5{
    font-size: 11px;
}
footer p{
    font-size: 12px;
}
.iletisim{
    background-color: #020a20;
    border: 1px solid white;
    outline: none;
    color: #fff;
    width: 70%;
    
}
.iletisim:focus{
    background-color: #020a20;
    box-shadow: none !important;
    border: 1px solid white !important;
    
}
footer button{
    border-radius: 0 !important;
}
.ikon a{
    margin: 0 25px;
    font-size: 22px;
}
@media screen and (max-width: 992px) {
    .hizmet:hover .liste {
        display: none;
        }
  
}